{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Show Frenzy</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>
    {% include 'base/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'base/footer.html' %}
<script>
        window.onscroll = function() {myFunction()};
        
        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;
        
        function myFunction() {
          if (window.pageYOffset >= sticky + navbar_height) {
            navbar_sticky.classList.add("sticky")
            document.body.style.paddingTop = navbar_height + 'px';
          } else {
            navbar_sticky.classList.remove("sticky");
            document.body.style.paddingTop = '0'
          }
        }
</script>
        
</body>
        
</html>