
<section id="footer_b" class="pt-3 pb-3 bg_grey">
    <div class="container">
       <div class="row footer_1">
         <div class="col-md-8">
          <div class="footer_1l">
           <p class="mb-0"><a href="{% url 'home' %}"><span class="col_red" style="text-decoration: none;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">ShowFrenzy.com:</span></a> Your ad-free destination for over 20,000 free movies and TV series. No registration or payment required. Download and watch anytime.</a></p>
          </div>
         </div>
         <div class="col-md-4">
        <div class="footer_1r">
          <ul class="mb-0 footer-menu">
            <li class="d-inline-block me-2"><a href="{% url 'home' %}">Home</a></li>
            <li class="d-inline-block"><a href="{% url 'terms' %}">Terms of Service</a></li>
            <li class="d-inline-block"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
      </div>
       </div>
    </div>
    </section>
    
