{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<section id="center" class="center_home" style="padding-top: 10px;">
    <div class="container">
        <h1>Terms of Service for <span class="col_red">ShowFrenzy.com</span></h1>

        <p>Welcome to Showfrenzy.com (the "Website"). By accessing and using this Website, you agree to be bound by the following Terms of Service. If you do not agree to these terms, please refrain from using the Website.</p>
        <div class="container">
        <h4>1. Use of the <span class="col_red">Website</span>:</h2>
        <ul>
            <li>Showfrenzy.com is a streaming platform that provides links to media content hosted on third-party services.</li>
            <li>You may use the Website for personal, non-commercial purposes only.</li>
            <li>You must be at least 18 years old or the legal age of majority in your jurisdiction to use this Website.</li>
        </ul>

        <h4>2. Third-Party <span class="col_red">Content</span>:</h2>
        <ul>
            <li>Showfrenzy.com does not host, upload, or store any media files on its servers.</li>
            <li>The content available on the Website is provided by third-party services, and Showfrenzy.com does not have control over the content or its availability.</li>
            <li>We do not endorse, guarantee, or take responsibility for the accuracy, legality, or quality of the content provided by third-party services.</li>
        </ul>

        <h4>3. Intellectual <span class="col_red">Property</span>:</h2>
        <ul>
            <li>The Website and its content, including but not limited to text, graphics, logos, images, and software, are the property of Showfrenzy.com and are protected by applicable intellectual property laws.</li>
            <li>You may not reproduce, distribute, modify, display, or create derivative works from any part of the Website without explicit written permission from Showfrenzy.com.</li>
        </ul>

        <h4>4. User <span class="col_red">Conduct</span>:</h2>
        <ul>
            <li>You agree not to use the Website for any unlawful, abusive, or unauthorized purpose.</li>
            <li>You will not engage in any activity that could harm the Website's integrity or disrupt its functionality.</li>
        </ul>

        <h4>5. Disclaimer of <span class="col_red">Warranties</span>:</h2>
        <ul>
            <li>Showfrenzy.com provides the Website on an "as is" and "as available" basis without any warranties or representations, express or implied.</li>
            <li>We do not guarantee continuous, uninterrupted, or secure access to the Website or its services.</li>
        </ul>

        <h4>6. Limitation of <span class="col_red">Liability</span>:</h2>
        <ul>
            <li>Showfrenzy.com shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the Website or any content accessed through it.</li>
            <li>We are not responsible for any issues related to third-party services, including the availability, content, or functionality of those services.</li>
        </ul>

        <h4>7. <span class="col_red">Indemnification</span>:</h2>
        <ul>
            <li>You agree to indemnify and hold Showfrenzy.com, its affiliates, and their respective officers, directors, employees, and agents harmless from any claims, losses, damages, liabilities, costs, and expenses, including attorneys' fees, arising from your use of the Website or violation of these Terms of Service.</li>
        </ul>

        <h4>8. Modifications to the <span class="col_red">Terms</span>:</h2>
        <ul>
            <li>Showfrenzy.com reserves the right to update or modify these Terms of Service at any time without prior notice.</li>
            <li>It is your responsibility to review these terms periodically for any changes.</li>
        </ul>

        <h4>9. Governing <span class="col_red">Law</span>:</h2>
        <ul>
            <li>These Terms of Service shall be governed by and construed in accordance with the laws of Stockholm, Sweden, without regard to its conflicts of law principles.</li>
        </ul>

        <p>By using Showfrenzy.com, you agree to abide by these Terms of Service. If you have any questions or concerns, please contact us at contact@Showfrenzy.com. Last updated on 07/28/2023.</p>
    </div>
    </div>
  </section>
  <style>
    .mb-0.footer-menu li {
      display: inline-block;
    }

    .mb-0.footer-menu li:not(:last-child):after {
      content: " - ";
    }
  </style>
{% endblock %}