{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <style>
        .movie-name {
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-height: 1.5em; 
        }
        .movie-card {
        width: 300px;
        height: 300px;
        
    }
    
    </style>
    
    <section id="center" class="center_home">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-4 g-4">
                {% for movie in trending_movies %}
                <div class="col px-1 pb-0">
                    <div class="movie-card">
                        <div class="trend_2im clearfix position-relative">
                            <div class="trend_2im1 clearfix">
                                <div class="grid">
                                    <figure class="effect-jazz mb-0">
                                        <a href="{% url 'movie_details' movie.movie_id %}">
                                        <img src="{% static movie.poster_url %}" alt="{{ movie.movie_name }}" class="movie-poster">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                            </div>
                        </div>
                        <div class="trend_2ilast bg_grey p-3 clearfix">
                            <h5 class="movie-name text-center mb-3"><a class="col_" href="{% url 'movie_details' movie.movie_id %}">{{ movie.movie_name }}</a></h5>
                            <div class="text-center">
                                <span class="col_red">
                                    {% for _ in movie.imdb_rating|floatformat %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                </span>
                                <br>
                                <span class="col_light">
                                    {{ movie.imdb_rating }} (IMDb)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <style>
      
        .movie-poster {
            max-width: 800px;
            max-height: 400px;
            width: 100%;
            height: auto;
        }
    </style>
      <style>
        .mb-0.footer-menu li {
          display: inline-block;
        }
    
        .mb-0.footer-menu li:not(:last-child):after {
          content: " - ";
        }
      </style>
{% endblock %}